body {
  margin: 0;
  padding: 0px;
  font-family: sans-serif;
}
input, button{
  transition: all 0.3s ease;
}
.comentario{
  width:600px;
  margin:0 auto;
  background:#F9F9F9;
  border-top:1px solid white;
  padding:20px;
}
.comentario h4{
  margin:0;
  font-size: 14px;
}
.comentario span{
  font-size: 12px;
  color:#A4A0A1;
}
.comentario p{
  font-size: 14px;
  margin-top:10px;
}
.resposta-wrap{
  text-align: right;
  display: inline-block;
  width:100%;
}
.resposta-wrap button{
  background:transparent;
  border:1px solid #FF5500;
  padding:5px 20px;
  color:#FF5500;
  border-radius:5px;
  cursor: pointer;
  outline: none;
}
.resposta-wrap button:hover{
  color:white;
  background: #FF5500;
}
.resposta{
  width:100%;
}
.resposta textarea{
  width: 96.7%;
  margin-bottom:10px;
  border:none;
  height:80px;
  resize: none;
  outline: none;
  padding:10px;
}
.resposta h4{
  padding: 20px 20px;
  background: #F8F6F7;
  text-align: left;
  font-size: 14px;
}
.resposta [type="button"]{
  margin-right:10px;
  background:transparent;
  border:1px solid #9E9898;
  padding:4px 20px;
  color:#9E9898;
  border-radius:5px;
  cursor: pointer;
  outline: none;
}
.resposta [type="button"]:hover{
  color:white;
  background: #9E9898;
}
.resposta [type="submit"]{
  background:#FF5500;
  border:1px solid #FF5500;
  padding:4px 20px;
  color:white;
  border-radius:5px;
  cursor: pointer;
  outline: none;
}
.resposta [type="submit"]:hover{
  color:#FF5500;
  background: transparent;
}
.resposta [type="submit"]:disabled{
  background:transparent;
  border:1px solid #9E9898;
  color:#9E9898;
  opacity: 0.5;
}